{% extends 'adminbase.html.twig' %}

{% block title %}New Siparis{% endblock %}

{% block body %}
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h1>Create new Siparis</h1>

    {{ include('admin/siparis/_form.html.twig') }}

    <a href="{{ path('admin_siparis_index') }}"class="btn btn-info btn-xs">back to list</a>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
