{% extends 'blankbase.html.twig' %}

{% block title %}Siparis index{% endblock %}

{% block body %}
    <SCRIPT language="JavaScript" type="text/javascript">
        function openWin(windowURL,windowName,windowFeatures) {window.open(windowURL, windowName, windowFeatures);}
    </SCRIPT>
    <h1>Siparis Listeleme</h1>
    <div class="container">
        <div class="row">

            {{ include('user/usermenu.html.twig') }}

            <div class="blog-post-area">
                <div class="row">
                    <div class="col-sm-8">

                        <article class="blog-post">
                            <div class="post-heading">
                                <h2 class="title text-center">Orders</h2>
                            </div>
                        </article>


                        <div class="row">
                            <div class="col-sm-8">

                                <h1>Edit Siparis</h1>

                                {{ include('siparis/_form.html.twig', {'button_label': 'Update'}) }}

                                <a href="{{ path('user_siparis_index') }}">back to list</a>

                                {{ include('siparis/_delete_form.html.twig') }}
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

